<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogApp"
        tools:targetApi="31">
        <activity
            android:name=".ChangeProfileInfo"
            android:exported="false" />
        <activity
            android:name=".AddRemindersActivity"
            android:exported="false" />
        <activity
            android:name=".MessageInbox"
            android:exported="false" />
        <activity
            android:name=".SendMessages"
            android:exported="false" />
        <activity
            android:name=".model.SendMessages"
            android:exported="false" />
        <activity
            android:name=".BecomeDogWalkerActivity"
            android:exported="false" />
        <activity
            android:name=".HireDogWalkersActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".BreedInformationActivity"
            android:exported="false" />
        <activity
            android:name=".FirstAidActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".BreedingActivity"
            android:exported="false" />
        <activity
            android:name=".TrainingVideosActivity"
            android:exported="false" />
        <activity
            android:name=".FoodCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ThreeBarsActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".MyDogsActivity"
            android:exported="false" />
        <activity
            android:name=".AddDogActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>